<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DouBan Movie Search</title>
  <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
</head>
<body>
<div id="main" class="container">
  <div id="search">
    <%- reactOutput %>
  </div>
</div>
<script src="js/main-search.js"></script>
</body>
</html>
